body {
  padding-top: 100px;   /* FIXED to match navbar height */
  font-family: 'Poppins', sans-serif;
}

/* ============================= */
/* NAVBAR MAIN */
/* ============================= */

.custom-navbar {
  background: linear-gradient(95deg, #000000, #2f5d3a);
  height: 130px;
  min-height: 100px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

/* Force container to match navbar height */
.navbar .container {
  height: 100px;
  display: flex;
  align-items: center;
}

/* ============================= */
/* LOGO */
/* ============================= */

.logo-img {
  height: 125px;
  width: auto;
  padding: 0%;
  margin: 0%;
}

/* ============================= */
/* BRAND TEXT */
/* ============================= */

.brand-text {
  color: white;
  font-weight: 600;
  font-size: 20px;
}

/* ============================= */
/* NAV LINKS */
/* ============================= */

.nav-link {
  color: white !important;
  font-weight: 500;
  margin: 0 15px;
  transition: 0.3s;
}

.nav-link:hover {
  color: #a3e635 !important;
}

/* Prevent collapse background glitch on desktop */
.navbar-collapse {
  background: transparent;
}

/* ============================= */
/* MOBILE ADJUSTMENTS */
/* ============================= */

@media (max-width: 991px) {

  .navbar-collapse {
  background: linear-gradient(95deg, #000000, #2f5d3a);
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
  }

  .nav-link {
    margin: 10px 0;
  }

}

/* Remove container left padding */
.custom-navbar .container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* Remove navbar brand margin */
.navbar-brand {
  margin-left: 0 !important;
  padding-left: 0 !important;
}

/* Make logo stick to extreme left */
.logo-img {
  display: block;
}